.text{
  color: brown;
  text-shadow: 5px 2px blue;
}
.what{
  color: blue;
  text-shadow: 5px 2px brown
}
main{
  position: relative;
background-color: antiquewhite;
}
.hacked{
 position: absolute;
 top: 400px;
 left: 400px;
}
.sub{
  position: absolute;
  top: 200px;
  left: 350px;
}
.super{
  font-family: cursive;
  font-size: medium;
  color: brown;


  background-color: rgb(126, 121, 126);
}